@charset "utf-8";

*{
	margin:0;
	padding:0;
	
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
 font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v1/adVweg3BJhE6r8jYmXseHQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family:'Space Mono';
  background-position: center top;
  background-size: cover;
}

h1 {
	text-align: center;
	font-size: 60px;
	font-family: 'Shadows Into Light', cursive;

}
h2{
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	
	
}

h5 {
	background-color: white;
	opacity: 60%;
	color: #1C301A;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 5px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 45px;
}

p {
	font-size: 20px;
	color: black;
	padding-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
	
	}

a {
	color: green;
}

a:hover {
	color: #243F20;
}

.page-title {
  text-align: center;
  font-weight: 160;
	padding:30px;
	border: 0;
	margin:0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif", "bold";
	background-color: powderblue;
	
}
.gallery {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.my-class {color:red;background-color:lightblue;
	border:1px solid blue;
	text-align:center;
	padding:0.5em;
	
}
.centerco {
	
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	
	
}


header {
	overflow: hidden;
	padding-left: 20px;
	width: 100%;
	max-height: 150px;
	background-color: #3C5B3E;
	color: white;
}

#header {
	vertical-align: middle;
	padding-top: 20px;
	float: left;
}

header p {
	color: #1C301A;
}

#logo2 {
	float: right;
	padding-bottom: 0px;
	padding-right: 20px;
	max-height: 150px;
}

.navbar img {
	height: 40px;
	width: auto;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* CALENDAR STYLE */
/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #3C5B3E;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  font-size: 12px;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #3C5B3E;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

footer {
	bottom: 0;
	width: 100%;
	background-color: #243F20;
	height: 50px;
	display: table;
	text-align: center;
}

footer a {
	vertical-align: middle;
	display: table-cell;
	color: white;
}

footer a:hover {
	color: white;
}

.wrapper {
	display: flex;
	align-items: stretch;
	
}

.carouselstyle {
	margin: 30px 0px;
}

.carousel-inner a {
	background-color: white;
	opacity: 80%;
	float: right;
}

.carousel-item {
	height: 500px;
}

.card {
	margin-bottom: 20px;
}

.card a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}


#sidebar {
	background-color: #1C301A;
	min-height: 100vh;
	transition: all 0.3s;
	min-width: 300px;
	max-width: 300px;
}

#sidebar a:hover {
	color: white;
}

#sidebar .active {
	margin-left: -300px;
}


.sidebar-img {
	width: 220px; 
	height: auto; 
	display: block;
	margin: 30px 40px 0px ;
} 

.sidebar-img2 {
	width: 220px; 
	height: auto; 
	display: block;
} 

.sidebar-icon {
	width: 22px;
	height: 22px;
	margin-right: 10px;
	margin-bottom: 5px;
}

#sidebar a {
	color: white;
	font-size: 16px;
	margin-left: 40px;
	display: block;
	margin-bottom: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif", "bold";
}




* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 3px;
}
.container-fluid{
	padding: 45px;
	padding-top: 10px;
}




/* Create two columns that float next to eachother */
.column {
  float: bottom;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}



#sidebar h1 {
	color: #3C5B3E;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	display: block;
	margin-top: 50px;
	margin-bottom: 10px;
}


.icon {
	width: 200px;
	height: auto;
	padding: 10px;
	display: block;
	align-content: center;
}
.avatar{
	image-orientation: 50%;
	align-content: left;
	
}
.icon-ind {
	height: 100px;
}

.icon-mountain {
	padding-left: 10px;
	height: 130px;
}

.icon-img {
	padding-top: 70px;
}

.forest-h2 {
	padding-top: 30px;
}

.avatar{
	image-orientation: 50%;
	align-content: left;
}

.beach {
	padding-top: 20px;
	height: 120px;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Style the container with a rounded border, grey background and some padding and margin */
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

/* Clear floats after containers */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */


/* Increase the font-size of a span element */
.container span {
  font-size: 20px;
  margin-right: 0px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container {
    text-align: center;
    padding-left: 20px;

  }
}

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
	
.checked {
  color: orange;
}

.text {
	padding: 10px;
	text-align: center;
}

.price {
	text-align: center;
}


.gallery-pic {
	margin-top: 20px;
}
